* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Manrope';
    color: #3d3205;
    background-color: rgb(224, 206, 184)
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
h1{
    font-weight: 700;
    font-size: 40px;
    border: 2px #615f578c solid;
    border-top: none;
    border-right: none;
    border-left: none;
    min-width: 600px;
}
summary{
    display: flex;
}
h2{
    border: 2px #615f578c solid;
    border-top: none;
    border-right: none;
    border-left: none;
    min-width: 600px;
    font-family: 'Manrope';
    color: #3d3205;
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.bayan__block img{
    width: 300px;
    height: 300px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}
details{
    display: flex;
    user-select: none;
    cursor: pointer;
}
@media (max-width: 1199.98px){
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width: 990.98px){
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
    }
}
h2:hover{
    color: blue;
}
h1:hover{
    color: blue;
}
@media (max-width: 990.98px){
    h1{
        font-size: 33px;
        min-width: 550px;
    }
    h2{
        font-size: 23px;
        min-width: 550px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767.98px){
    h1 {
        font-size: 29px;
        min-width: 450px;
    }
    h2 {
        font-size: 19px;
        min-width: 450px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 369.98px){
    h1{
        font-size: 22px;
        min-width: 240px;
    }
    h2{
        font-size: 14px;
        min-width: 240px;
    }
    .bayan__block img{
        margin-right: 20px;
        margin-left: 20px;
        width: 200px;
        height: 200px;
    }
}